html{
    width: 600px;
    margin: auto;
}

body{
    width: 600px;
    margin: 0px;
}

.container {
  padding:0;
  background: #7494c0;    /* LINEトークルーム背景色 */
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  font-size: 80%;
}

/* タイトル部分 */
.container .title {
  background: #273246;
  padding: 10px;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

.container .title #user{
  float: right;
  background-color: #7494c0;
  padding: 0px 20px;
  border-radius: 30px;
  cursor: pointer;
}

/* 会話部分 */
.container #chat_main {
  padding: 10px;
  overflow: hidden;
  line-height: 135%;
  height: 490px;
  overflow-y: scroll;
}

/* チャット */
.container .line_left {
    display: inline-block;
    position: relative;
    display: block;
    margin-bottom: 5px;
    max-width: 90%;
    clear: both;
}

.container .line_left .line_left-text {
  margin-left: 60px;
}

.container .line_left .line_left-text .name {
  font-size: 80%;
  color: #ffffff;
}

/* コメントエリア */
.container .line_left .text {
  margin: 0; display: inline-block;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #EDF1EE;  /* 吹き出し背景色 相手 */
  color: #000000;   /* トーク文字色 相手 */
  font-size: 11px;  /* トーク文字サイズ 相手 */
}

/* 吹き出し */
.container .line_left .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 3px;
  border-right: 20px solid #EDF1EE; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  transform: rotate(35deg); -webkit-transform: rotate(35deg);
}

/* アイコン表示 */
.container .line_left img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: 0;
  padding: 0;
  margin: 0;
}

/* チャット時間 */
.container .line_left .time {
  position: absolute;
  display: inline-block;
  width: auto;
  text-align: left;
  bottom: 0px;
  font-size: 80%;
  color: #273246;
}

#text{
  margin-left: 20px;
  padding-left: 10px;
  height: 20px;
  font-size: 16px;
  border-radius: 20px;
}

#send{
  border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}

#modalClose {
  font-size: 2rem;
}

#modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
}